#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.contact-app {
  display: flex;
  align-items: stretch;
  width:800px;
  height: 100vh;
}
h2{
  font-size: 22px;
  color: #555;
}
.contact-list {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  overflow-y: auto;
}

.contact-list ul {
  list-style: none;
  padding: 0;
}

.contact-list-item {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
  background-color: #fff;
  color: #888;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
p{
  color:#555
}
.selected {
  background-color: #337ab7;
  color: #fff;
}

.contact-details {
  flex: 2;
  padding: 20px;
  background-color: #fff;
}

.contact-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

@media (max-width:500px) {
  .contact-app{
    width: 100%;
  }
  .contact-list{
    flex: 3;
    padding: 10px;
  }
}